@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
p {
    margin: 0%
}
body {
    background-color: #5adfe0;
    background-image: linear-gradient(180deg, #5adfe0 8%, #9ef0ff 34%, #ffffff 99%, #ffffff 100%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    width: 100%;
    height: max-content;
    margin: auto;
    /* backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px); */
    position:sticky; 
    border: none;
    top: 0px;
    height:max-content;
}




.logo {
    color: #003458;
    font-size: 30px;
    font-weight: bolder;
    float: left;
    padding: 10px;
}

.logo img{
    height:40px;
    width:40px;
}


#timer {
    float: right;
    font-size: 40px;
    font-weight: bold;
    color: #181887;
}




#topic-name {
    text-align: center;
    padding: 10px;
    color: #181887;
}
.question-image{
    width:fit-content;
}
#total-score {
    text-align: left;
    padding-left: 30px;
}
.container {
    margin: 30px auto;
    background: white;
    padding: 20px 15px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
form{
    padding:30px;
}
/* the options*/
label.box {
    display: flex;
    margin-top: 10px;
    padding: 10px 12px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ddd;
}
/*individual options when checked*/
#one-one:checked~label.one-one,
#one-two:checked~label.one-two,
#one-three:checked~label.one-three,
#one-four:checked~label.one-four,
#two-one:checked~label.two-one,
#two-two:checked~label.two-two,
#two-three:checked~label.two-three,
#two-four:checked~label.two-four,
#three-one:checked~label.three-one,
#three-two:checked~label.three-two,
#three-three:checked~label.three-three,
#three-four:checked~label.three-four,
#four-one:checked~label.four-one ,
#four-two:checked~label.four-two,
#four-three:checked~label.four-three,
#four-four:checked~label.four-four,
#five-one:checked~label.five-one,
#five-two:checked~label.five-two,
#five-three:checked~label.five-three,
#five-four:checked~label.five-four,
#six-one:checked~label.six-one,
#six-two:checked~label.six-two,
#six-three:checked~label.six-three,
#six-four:checked~label.six-four,
#seven-one:checked~label.seven-one,
#seven-two:checked~label.seven-two,
#seven-three:checked~label.seven-three,
#seven-four:checked~label.seven-four,
#eight-one:checked~label.eight-one,
#eight-two:checked~label.eight-two,
#eight-three:checked~label.eight-three,
#eight-four:checked~label.eight-four,
#nine-one:checked~label.nine-one,
#nine-two:checked~label.nine-two,
#nine-three:checked~label.nine-three,
#nine-four:checked~label.nine-four,
#ten-one:checked~label.ten-one,
#ten-two:checked~label.ten-two,
#ten-three:checked~label.ten-three,
#ten-four:checked~label.ten-four{
    border-color: #8e498e
}
/*circle when checked*/
#one-one:checked~label.one-one .circle,
#one-two:checked~label.one-two .circle,
#one-three:checked~label.one-three .circle,
#one-four:checked~label.one-four .circle,
#two-one:checked~label.two-one .circle,
#two-two:checked~label.two-two .circle,
#two-three:checked~label.two-three .circle,
#two-four:checked~label.two-four .circle,
#three-one:checked~label.three-one .circle ,
#three-two:checked~label.three-two .circle,
#three-three:checked~label.three-three .circle,
#three-four:checked~label.three-four .circle ,
#four-one:checked~label.four-one .circle,
#four-two:checked~label.four-two .circle,
#four-three:checked~label.four-three .circle,
#four-four:checked~label.four-four .circle,
#five-one:checked~label.five-one .circle,
#five-two:checked~label.five-two .circle,
#five-three:checked~label.five-three .circle,
#five-four:checked~label.five-four .circle,
#six-one:checked~label.six-one .circle,
#six-two:checked~label.six-two .circle,
#six-three:checked~label.six-three .circle,
#six-four:checked~label.six-four .circle,
#seven-one:checked~label.seven-one .circle,
#seven-two:checked~label.seven-two .circle,
#seven-three:checked~label.seven-three .circle,
#seven-four:checked~label.seven-four .circle,
#eight-one:checked~label.eight-one .circle,
#eight-two:checked~label.eight-two .circle,
#eight-three:checked~label.eight-three .circle,
#eight-four:checked~label.eight-four .circle,
#nine-one:checked~label.nine-one .circle,
#nine-two:checked~label.nine-two .circle,
#nine-three:checked~label.nine-three .circle,
#nine-four:checked~label.nine-four .circle,
#ten-one:checked~label.ten-one .circle,
#ten-two:checked~label.ten-two .circle,
#ten-three:checked~label.ten-three .circle,
#ten-four:checked~label.ten-four .circle{
    border: 6px solid #8e498e;
    background-color: #fff
}
label.box:hover {
    background: #d5bbf7
}
/*the box*/
label.box .course {
    display: flex;
    align-items: center;
    width: fit-content
}
/*the circle*/
label.box .circle {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    margin-right: 15px;
    border: 2px solid #ddd;
    display: inline-block
}
/*options unchecked*/
input[type="radio"] {
    display: none
}
.btn.btn-primary {
    border-radius: 25px;
    margin-top: 20px
}
.submit-button {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    float: left;
    border: none;
    border-radius: 15px;
    background-color: #181887;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 20px;
    /*top right bottom left*/
    padding: 10px 40px 10px 40px;
    text-align: center;
    width: 200px;
    height: 40px;
}
.submit-button:hover {
    transition: all 0.3s ease 0s;
    color: #000;
    background-color: #9EF0FF;
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}
@media(max-width: 450px) {
    .subject {
        font-size: 12px
    }
}