@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}

body {
    background-image: linear-gradient(315deg, #A6B2FC 0%, white 98%);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 500px;
    margin: 0 auto;
}



/*for centering the whole box in the middle of the page*/
.box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}


/*contains the whole form
for the glass effect*/
#container {
    width: 100%;
    height: 500px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
}



/*selection of login and register sections*/
.tabs {
    display: table-cell;
    width: 50%;
    background-color: transparent;
    padding-top:10px;
    padding-bottom: 20px;
    margin-bottom:-13px;
    float: left;
    text-align: center;
    vertical-align: middle;
    border-bottom: #E6ECEF;
    border-bottom: 1px solid transparent;
    position: relative;
    font-size: 1.3em;
    color: #181887;
    transition: all 0.4s ease 0s;
    outline: black;
    border-radius: 5px;
}



.tabs:hover, p {
    cursor: pointer;
}



#loginTab{
    background-color: #F8F8FF;
}


/*.nav {
    width: 100%;
    height: 100px;
    padding-top: 40px;
    opacity: 1;
    transition: all .5s ease;
}

.nav-up {
    transform: translateY(-100px);
    opacity: 0;
}


li {
    padding-left: 30px;
    font-size: 18px;
    display: inline;
    text-align: center;
    text-transform: uppercase;
    padding-right: 10px;
    color: #181887;
}


.signin-active a {
    padding-bottom: 10px;
    color: #181887;
    font-weight: bold;
    text-decoration: none;
    border-bottom: solid 2px #1059FF;
    transition: all .25s ease;
    cursor: pointer
}

.signin-inactive a {
    padding-bottom: 0;
    color: rgba(255, 255, 255, .3);
    text-decoration: none;
    border-bottom: none;
    cursor: pointer
}

.signup-active a {
    cursor: pointer;
    color: #181887;
    text-decoration: none;
    border-bottom: solid 1px #1059FF;
    padding-bottom: 10px
}

.signup-inactive a {
    cursor: pointer;
    color: rgba(255, 255, 255, .3);
    text-decoration: none;
    transition: all .25s ease
}*/




h3{
    text-align: center;
    color:#181887;
    font-weight: bold;
}


/*the icons*/
.icons {
    text-align: center;
    /*top right bottom left*/
    padding: 15px 0 20px;
    font-size: 100px;
    color: #181887;
    
}



/*the forms*/
#login, #register {
    background-color: transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}




/*only the login will be visible*/
.comm {
    visibility: hidden;
}

#login {
    visibility: visible;
}






/*fields of the form*/
.formField {
    background: none;
    border: none;
    border-bottom: 1px solid #A6B2FC;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    width: 100%;
    padding-bottom:5px;
}




/*toggling password visibility*/
#togglePassword {
    margin-left: -30px;
    cursor: pointer;
}


#password-info{
    font-size: 12px;
    color:black;
    opacity: 0.7;
    margin:0;
}



/*text about forgetting email or password*/
.forgot {
    display: block;
    text-align: center;
    font-size: 12px;
    opacity: 0.9;
    text-decoration: none;
    
}

.forgot:hover{
    color:#181887;
}




.submitButton {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    float: middle;
    border: none;
    border-radius: 15px;
    color: #000;
    background-color: #9EF0FF;
    margin-left: 28%;
    margin-right: 28%;
    margin-top: 30px;
    margin-bottom: 20px;
    /*top right bottom left*/
    padding: 10px 40px 10px 40px;
    text-align: center;
    display: flex;
}

.submitButton:hover {
    transition: all 0.3s ease 0s;
    background-color: #181887;
    color: #fff;
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}




#clear {
    clear: both;
}




