/*
    Title: css for register & login page 
    Author: Nafisa Maliyat
*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}

html, body{
    top:0;
    bottom:0;
    left:0;
    bottom:0;
}

.fix-background{
    margin: 0 auto;
    background-image: linear-gradient(315deg, #A6B2FC 0%, white 98%);
    background-position: center;
    background-size: cover;
    min-height: inherit;
}


.nav-bar{
    height: 80px;
    margin: auto;
    border: none;
}

.logo{
    color: #181887;
    font-size:40px;
    font-size: 1.7rem;
    font-weight: bolder;
    padding-left: 70px;
    float: left;
    padding-top: 18px;
    height:40px;
}
.logo:hover{
    cursor: pointer;
}

.logo img{
    height:40px;
    width:40px;
}



.register-box {
    position: absolute;
    top:5%;
    left:38%;
    right:30%;
    width: 400px;
}

.login-box{
    position: absolute;
    left: 35%;
    top: 15%;
    width: 400px;
}


/*contains the whole form
for the glass effect*/
#container {
    width: 100%;
    height: 500px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
}

#register-container {
    width: 100%;
    height: 680px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
}

#exit-form-button{
    height: 30px;
    width:30px;
    border-radius: 50%;
    font-size: 35px;
    border: 1px solid #181887;
}


#exit-form-button:hover{
    color:black;
    cursor:pointer !important;
    background-color: #9EF0FF;
}

.fix-the-damn-close-button{
    max-height: 30px;
    border-radius: 50%;
}

.close-button {
    height: 24px;
    width: 24px;
    float:right;
  }
  


/*selection of login and register sections*/
.tabs {
    display: table-cell;
    width: 50%;
    background-color: transparent;
    padding-top:10px;
    padding-bottom: 20px;
    margin-bottom:-13px;
    float: left;
    text-align: center;
    vertical-align: middle;
    border-bottom: #E6ECEF;
    border-bottom: 1px solid transparent;
    position: relative;
    font-size: 1.3em;
    color: #181887;
    transition: all 0.4s ease 0s;
    outline: black;
    border-radius: 5px;
}



.tabs:hover, p {
    cursor: pointer;
}



#loginTab{
    background-color: #F8F8FF;
}


/*.nav {
    width: 100%;
    height: 100px;
    padding-top: 40px;
    opacity: 1;
    transition: all .5s ease;
}

.nav-up {
    transform: translateY(-100px);
    opacity: 0;
}


li {
    padding-left: 30px;
    font-size: 18px;
    display: inline;
    text-align: center;
    text-transform: uppercase;
    padding-right: 10px;
    color: #181887;
}


.signin-active a {
    padding-bottom: 10px;
    color: #181887;
    font-weight: bold;
    text-decoration: none;
    border-bottom: solid 2px #1059FF;
    transition: all .25s ease;
    cursor: pointer
}

.signin-inactive a {
    padding-bottom: 0;
    color: rgba(255, 255, 255, .3);
    text-decoration: none;
    border-bottom: none;
    cursor: pointer
}

.signup-active a {
    cursor: pointer;
    color: #181887;
    text-decoration: none;
    border-bottom: solid 1px #1059FF;
    padding-bottom: 10px
}

.signup-inactive a {
    cursor: pointer;
    color: rgba(255, 255, 255, .3);
    text-decoration: none;
    transition: all .25s ease
}*/




h3{
    text-align: center;
    color:#181887;
    font-weight: bold;
}


/*the icons*/
.icons {
    text-align: center;
    /*top right bottom left*/
    padding: 15px 0 20px;
    font-size: 100px;
    color: #181887;
    
}



/*the forms*/
#login, #register {
    background-color: transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 86%;
}




/*only the login will be visible
.comm {
    visibility: hidden;
}

#login {
    visibility: visible;
}
*/





/*fields of the form*/
.formField {
    background: none;
    border: none;
    border-bottom: 1px solid #A6B2FC;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    width: 100%;
    padding-bottom:5px;
}




/*toggling password visibility*/
#togglePassword {
    margin-left: -30px;
    cursor: pointer;
}


#password-info{
    font-size: 12px;
    color:black;
    opacity: 0.7;
    margin:0;
}



/*text about forgetting email or password*/
.forgot {
    display: block;
    text-align: center;
    font-size: 12px;
    opacity: 0.9;
    text-decoration: none;
    
}

.forgot:hover{
    color:#181887;
}




.submitButton {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    float: middle;
    border: none;
    border-radius: 15px;
    color: #000;
    background-color: #9EF0FF;
    margin-left: 28%;
    margin-right: 28%;
    margin-top: 30px;
    margin-bottom: 20px;
    /*top right bottom left*/
    padding: 10px 40px 10px 40px;
    text-align: center;
    display: flex;
}

.submitButton:hover {
    transition: all 0.3s ease 0s;
    background-color: #181887;
    color: #fff;
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}




#clear {
    clear: both;
}

/*
    //Title: Validation while typing
    //Author: Shanta Maria
    //Date: 18/10/2022
*/

#form.valid #register-email:before
{
    content: '';
    position: absolute;
    right: 12px;
    top: 12px;
    width: 24px;
    height: 24px;
    background-size: cover;
    z-index: 1000;
}

#form.valid #register-email:before
{
    content: '';
    position: absolute;
    right: 12px;
    top: 12px;
    width: 24px;
    height: 24px;
    background-size: cover;
    z-index: 1000;
}

.control-label {
    text-align: left !important;
    padding-bottom: 4px;
}
.progress {
    height: 3px !important;
}

.progress-bar-danger {
    background-color: #e90f10;
}
.progress-bar-warning{
    background-color: #ffad00;
}
.progress-bar-success{
    background-color: #02b502;
}

.fa-circle{
    font-size: 6px;  
}
.fa-check{
    color: #02b502;
}



.toggle-login-register{
    font-size:16px !important;
    display: flex !important;
    padding-left:12%;
    padding-top:10px;
}

.toggle-login-register a{
    font-size:16px !important;
}

.toggle-register-login{
    font-size:16px !important;
    display: flex !important;
    padding-left:3%;
}

.toggle-register-login a{
    font-size:16px !important;
}