@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

body {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* background-color: #5adfe0 !important;
    background-image: linear-gradient(180deg, #5adfe0 8%, #9ef0ff 80%, #ffffff 99%, #ffffff 100%) !important; */
    background-color: #000000 !important;
    background-image: linear-gradient(180deg, #000000 0%, #110033 5%, #07075a 15%, #342ecc 50%, #716aff 99%) !important;
    background-position: center;
    background-size: cover;

}

h1 {
    font-size: 60px;
}

h3 {
    font-size: 26px;
}

.italic {
    font-style: italic;
}

.card {
    position: relative;
    margin: auto;
    height: 500px;
    width: 60%;
    text-align: center;
    border-radius: 2px;
    background: #E6ECEF !important;
    border-radius: 16px;
    box-shadow: 10px 10px 30px rgba(255, 254, 254, 0.1) !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    /* border: 1px solid rgba(255, 255, 255, 0.3) !important; */
    color: #181887;
    padding: 30px;
}

.card header {
    position: absolute;
    top: 31px;
    left: 0;
    width: 100%;
    padding: 0 10%;
    transform: translateY(-50%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.card header>*:first-child {
    text-align: left;
}

.card header>*:last-child {
    text-align: right;
}

.logo {
    font-size: 24px;
    position: relative;
}

/* .logo:before,
.logo:after {
  content: '';
  position: absolute;
  top: 50%;
  border-top: 3px solid #181887;
  transform: translateY(-50%);
}

.logo:before {
  left: 20%;
  width: 80%;
}
.logo:after {
  left: 180%;
  width: 80%;
  margin-top:2px
} */

.logo span {
    /*border: solid currentColor;
  border-width: 0 3px 3px 0;
  position: absolute;
  top: -22px;
  width: 69px;
  height: 70px;
  left: 50%;
  transform: translateX(-58%) rotate(58deg) skew(0deg, -30deg);*/
    display: block;
    position: absolute;
    width: 100%;
    top: calc(50% - 1px);
}

.achievement-icon {
    font-size: 150px;
    color: #716aff;
    padding-left: 125%;
    margin-top: 40px;
}


.announcement {
    position: relative;
    border: 3px solid #181887;
    border-top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.announcement:before,
.announcement:after {
    content: '';
    position: absolute;
    top: 0px;
    border-top: 3px solid #181887;
    height: 0;
    width: 35%;
}

.announcement:before {
    left: -3px;
}

.announcement:after {
    right: -3px;
}

.writing {
    padding-top: 40px
}




* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

a,
a:visited,
a:focus,
a:active,
a:link {
    text-decoration: none;
    outline: 0;
}

a {
    color: #181887;
    transition: .2s ease-in-out;
}

h1,
h2,
h3,
h4 {
    margin: .15em 0;
}

ul {
    padding: 0;
    list-style: none;
}

img {
    vertical-align: middle;
    height: auto;
    width: 100%;
}


.submit-button {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    float: left;
    border: none;
    border-radius: 15px;
    background-color: #181887;
    color: #fff;
    margin-top: 30px;
    /*top right bottom left*/
    text-align: center;
    width: 200px;
    height: 60px;
}

.submit-button:hover {
    transition: all 0.3s ease 0s;
    color: #000;
    background-color: #9EF0FF;
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}
