/*Author:Nafisa Maliyat*/

.input-container{
    padding-top:20px;
}

.card-header{
    padding-bottom: 30px;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #110033 5%, #07075a 44%, #181887 72%, #342ecc 85%, #716aff 99%);
    background-position: center;
    background-size: cover;
}

.submitButton{
    text-align: center;
}