.avatar {
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border-radius: 0.75rem;
    height: 80px;
    width: 80px;
    transition: all .2s ease-in-out;
    border-radius: 50%;
}

.user-area {
    margin-top: 15px !important;
}


.profile-pic-div{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    overflow: hidden;
    border: transparent;
    margin-top:-160px;
    margin-left: 50px;
    z-index: 99999;
    background-color: white;
}

#photo{
    height: 100%;
    width: 100%;
}

#file{
    display: none; 
}

#uploadBtn{
    height: 50px;
    width: 100%;
    bottom:0;
    text-align: center;
    background: #181887;
    line-height: 30px;
    color: #fff;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    display: none;
    margin-top:-40px;
    transform: translateX(0%);
}


#sidebar {
    overflow: hidden;
    position: fixed !important;
}

.content {
    min-width: calc(100% - 350px);
}

.move-to-left {
    margin-left: 310px;
    width: calc(100% - 330px);
}

.card {
    border-radius: 1.5rem !important;
}


.shadow-blur {
    box-shadow: inset 0 0px 1px 1px rgba(254, 254, 254, 0.9), 0 20px 27px 0 rgba(0, 0, 0, 0.05) !important;
}


.blur {
    box-shadow: inset 0px 0px 2px #fefefed1;
    -webkit-backdrop-filter: saturate(200%) blur(30px) !important;
    backdrop-filter: saturate(200%) blur(30px) !important;
    background-color: rgba(255, 255, 255, 0.8) !important;
}



.user-profile-card {
    margin-top: 120px;
    min-height: 100px;
    max-height: 100px;
    z-index: -1;
}

.card-body {
    margin-top: -50px !important;
}

a {
    text-decoration: none !important;
}

.border-radius-xl {
    border-radius: 1rem;
}

.user-name{
    margin-left:40px;
    padding-top:40px
}


.page-header {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-image: url('gradient-sky-3.jpg');
    background-size: cover;
    background-position: 50%;
    padding-right: 8%;
    padding-left: 8%;
    min-height: 200px;
    max-height: 200px;
    background-size: cover;
    background-position-y: 50%;
    border-radius: 10px;
    margin-top: 10px;
    z-index: -9999;
}

.profile-card-buttons {
    float: right;
}

.profile-card-buttons .nav-item {
    min-width: 120px;
    max-width: 120px;
    margin-right: 20px;
    margin-top: -5px;
}

.profile-card-buttons .nav-item button:hover{
    color:#181887;
}


.profile-details {
    margin-top: 40px;
}


.profile-details h3 {
    color: #181887;
}

.profile-details-header {
    font-size: 25px;
    padding: 10px;
}

.profile-details-header i {
    margin-left: 10px;
    color:grey
}

.profile-details-header i:hover, .profile-details-header i:focus {
    margin-left: 10px;
    color:#181887;
}
/*
.profile-information-list {
    padding: 10px;
}

.profile-information-list .list-group-item{
    display: flex;
}

.profile-information-list .list-group-item .profile-detail-title{
    min-width: max-content;
}
*/


.profile-info label{
    font-size: 14px;
}

.profile-info .bio-limit-warning{
    font-size: 10px;
    float:right;
}

.profile-info textarea{
    min-height: 200px !important;
    max-height:200px !important;
}


.change-photo{
    margin-bottom:70px;
    height:200px;
    width:200px;
}

.photo-view{
    height:200px;
    width:180px;
    padding-bottom: 20px;
}

.save-profile-button{
    margin-left: 40px;
    margin-bottom: 40px;
    padding: 1em 2em;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #181887;
    font-weight: bold;
    color: #fff;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 45px;
}

.save-profile-button:hover{
    color: #181887;
    transform: translateY(-5px);
    background-color: #9EF0FF;
}


.footer{
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.8;
    font-weight: normal;
    background: #fafafa;
    color: gray;
}

.all-contents-without-footer{
    min-height:calc(100vh) ;
}



.logoProfile {
    font-size: 2.5rem !important;
    line-height: 1.5 !important;
}

#sidebar{
    font-family: "Poppins", Arial, sans-serif !important;
    line-height: 1.8 !important;
} 